.homepage {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));
    font-family: 'Open Sans', sans-serif;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

@media only screen and (min-width: 900px) {

    /* Big style */
    /* styles for devices with a minimum screen width of 900px */
    .ListGroup {
        margin-top: 6rem;
    }

    .my-form-check label {
        font-size: 1.25rem;
    }

    .my-form-check-checked label {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 900px) {

    /* Small style */
    /* styles for devices with a maximum screen width of 900px */
    .ListGroup {
        margin-top: 2rem;
    }

    .my-form-check {
        font-size: 0.8rem;
    }

    .my-form-check-checked {
        font-size: 0.8rem;
    }
}

.btn-theme-toggle {
    color: #fff;
}

.todo {
    display: flex;
    margin-bottom: 5px;
}

.todo>h1 {
    width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
}

.text-edit {
    color: grey;
}

.hover-button:hover .text-edit {
    color: rgb(26, 93, 238);
}

.text-delete {
    color: grey;
}

.hover-button:hover .text-delete {
    color: red;
}

/* Light mode */
.list-group-item {
    background-color: #fff;
    color: #000;
}

.my-form-check .form-check-label {
    display: auto;
    margin-top: -5px;
    text-decoration: none;
}

.my-form-check-checked .form-check-label {
    display: auto;
    margin-top: -5px;
    text-decoration: line-through;
    color: #757575;
}

/* Dark mode */
.list-group-item.dark-mode {
    background-color: #333;
    color: #fff;
}

.my-form-check.dark-mode .form-check-label {
    color: #f0f0f0;
}

.my-form-check.dark-mode:not(:checked)+.form-check-label {
    background-color: #ffffff;
}

.my-form-check-checked.dark-mode .form-check-label {
    color: #757575;
}

.button-sun {
    color: rgb(255, 208, 0)
}

.button-moon {
    color: rgb(255, 255, 255);
}