.homepage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.add-edit-input {
    position: absolute;
    top: 20px;
    outline: none;
    border: none;
    height: 30px;
    font-size: 25px;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
}

.add-confirm-icon {
    position: absolute;
    transform: scale(2);
    top: 27px;
    right: 750px;
    cursor: pointer;
    color: white;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.todo>h1 {
    width: 500px;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
}

.edit-button,
.delete-button {
    cursor: pointer;
    margin-left: 10px;
    color: white;
}

.logout-icon {
    cursor: pointer;
    color: white;
}